@(elements: helper.FieldElements)

<div class="form-group @if(elements.hasErrors) {error}">
    @if(!elements.label.equals("")) {
        <label for="@elements.id">@elements.label</label>
    }
    @elements.input
<span class="errors">@elements.errors.mkString(", ")</span>
<span class="help">@elements.infos.mkString(", ")</span>
</div>