@import views.html.helper.{FieldConstructor, input}
@(field: play.api.data.Field, options: Seq[(String, String)], args: (Symbol, Any)*)(implicit handler: FieldConstructor, messages: play.api.i18n.MessagesProvider)
    @input(field, args: _*) { (id, name, value, htmlArgs) =>
        <fieldset class="form-group">
            @options.map { v =>
                <label for="@v._1" class="paper-radio">
                    <input type="radio" name="@name" id="@v._1" value="@v._1" @toHtmlArgs(htmlArgs)> <span>@v._2</span>
                </label>
            }
        </fieldset>
    }