input {
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas: "answer votes"
                         "bar bar";
    grid-gap: 10%;
}

.grid-answer {
    grid-area: answer;
}

.grid-votes {
    grid-area: votes;
    align-self: start;
}

.grid-bar {
    grid-area: bar;
}