@import model.CreatePollData
@(form: Form[CreatePollData], postUrl: Call)(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@implicitField = @{
    helper.FieldConstructor(components.input.f)
}

@main("Pollster") {
    <h2 class="margin-top-small margin-bottom-small">Pollster</h2>
    <p>Create a new poll</p>
    @helper.form(postUrl) {
        @helper.CSRF.formField

        <h4 class="margin-top-small margin-bottom-small">Question</h4>
        @helper.inputText(
            form("question"),
            Seq(Symbol("_showConstraints") -> false,
                Symbol("_label") -> "") ++
                    (if(!form.hasErrors || form.errors("question")) Some(Symbol("autofocus") -> "") else None): _*)

        <h4 class="margin-top-small margin-bottom-small">Answers</h4>
        @if(form("answers").hasErrors) {
            <div class="margin-top-small">
            @for(err <- form("answers").errors) {
                <div class="alert alert-danger">@err.messages</div>
            }
            </div>
        }

        @helper.repeatWithIndex(form("answers"), min = 3) { (answerField, index) =>
            @helper.inputText(answerField, Seq(Symbol("_label") -> "")
                    ++ (if(form("answers").hasErrors && !answerField.value.exists(s => s.nonEmpty)) Some(Symbol("autofocus") -> "") else None): _*)
        }

        <div>
            <button class="btn-primary btn-small" type="button" onclick="addNewInput()">+</button>
        </div>


        <button class="btn-secondary margin-top-large" type="submit">Create poll</button>
    }
}
