@import model.Poll
@(poll: Poll, totalVotes: Int)(implicit request: RequestHeader)

    @main("Pollster") {
        <h4 class="margin-bottom margin-top-small">@poll.question</h4>

        @for(p <- poll.answers) {
            <div class="margin-bottom padding border shadow">
                <div class="grid">
                    <div class="grid-answer">@p.text</div>
                    <div class="grid-votes badge secondary">
                    @if(p.votes != 1) {
                        @p.votes Votes
                    } else {
                        @p.votes Vote
                    }
                    </div>
                    <div class="grid-bar">
                        <div class="progress">
                        @defining(p.votes * 100 / totalVotes) { percentage =>
                            <div class="bar secondary  w-@percentage">@if(percentage > 0) {@percentage %}</div>
                        }
                        </div>
                    </div>
                </div>
            </div>
        }
    }
