@import model.{Poll, VotePollData}
@(poll: Poll, form: Form[VotePollData], postUrl: Call)(implicit request: RequestHeader, messagesProvider: MessagesProvider)
@implicitField = @{
    helper.FieldConstructor(components.input.f)
}

@main("Pollster") {
    @helper.form(postUrl) {
        @helper.CSRF.formField

        <h4 class="margin-bottom margin-top-small">@poll.question</h4>

        @components.radio(form("answerId"),
            poll.answers.map(p => (p.id.id, p.text)),
            Symbol("_showConstraints") -> false,
            Symbol("_label") -> "")
        <button type="submit" class="btn-secondary">Vote</button>
        <a class="paper-btn margin-left-small" href="@routes.HomeController.showPollResults(poll.id)">Show Results</a>
    }

}
